.faculty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
}

.card {
    background-color: white;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.faculty-name{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.faculty-email {
    font-size: 1rem;
    color: #555;
}