.EnrollStudents-Container {
    margin-top: 150px;
    height: 100vh;
}
.enroll-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .enrollStudents-table select {
    padding: 5px;
    width: 200px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
    