.ViewCourses-container {
    height: 100vh;
    margin-top: 150px;
}

.course-update-button {
    background-color: green;
    transition: background-color 0.3s;
}

.course-update-button:hover {
    background-color: darkgreen;
}

.course-delete-button {
    background-color: red;
    transition: background-color 0.3s;
}

.course-delete-button:hover {
    background-color: darkred;
}