.ViewCourses-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin-top: 150px;
}

.ViewCourses-Topic {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 8px 12px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 4px;
}

.course-update-button {
    background-color: green;
    transition: background-color 0.3s;
}

.course-update-button:hover {
    background-color: darkgreen;
}

.course-delete-button {
    background-color: red;
    transition: background-color 0.3s;
}

.course-delete-button:hover {
    background-color: darkred;
}