.updateContainer {
    height: 100vh;
    margin-top: 200px;
}

.updateCourseForm {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.updateCourse-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.updateCourseForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.updateCourseForm input:focus,
.updateCourseForm select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.updateCourseForm input,
.updateCourseForm select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.updateCourseForm select {
    background-color: #fff;
    padding-right: 30px; /* Add space for custom arrow */
}

.updateCourseForm select option {
    padding: 10px;
    font-size: 16px;
}

.updateCourseForm button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.updateCourseForm button:hover {
    background-color: #0056b3;
}

.updateCourseForm p {
    text-align: center;
    font-size: 14px;
    color: #666;
}

.updateCourseForm textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
    resize: vertical;
    min-height: 100px;
    box-sizing: border-box;
}

.updateCourseForm textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
